
@model List<MVC_Case_study_1.Models.Contact>

<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
	<h2>List All Contacts</h2>

<a class="btn btn-primary " href="/ABCInfo/AddContact" class="btn btn-primary">Add New Contact</a>



<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ContactId</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.ContactId</td>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.CompanyName</td>
                <td>@contact.EmailId</td>
                <td>@contact.MobileNo</td>
                <td>@contact.Designation</td>
                <td>
                    <a href="/ABCInfo/GetContactById/@contact.ContactId">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>